{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans '删除自定义字段' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">{% trans '确认删除' %}</h3>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="box-body">
                    <p>{% blocktrans with name=object.name %}确定要删除自定义字段"{{ name }}"吗？{% endblocktrans %}</p>
                    <p class="text-danger">{% trans '此操作不可恢复，请谨慎操作！' %}</p>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash"></i> {% trans '确认删除' %}
                    </button>
                    <a href="{% url 'customfield_list' %}" class="btn btn-default">
                        <i class="fa fa-arrow-left"></i> {% trans '返回列表' %}
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
